<card >
    <script execute="beforeRender">
        console.log('this is before render - all dox manipulations should be done here')
    </script>
    <script execute="afterRender">
        console.log('this is after render')
    </script>
    <script >
        let message = "Hello World!";
    </script>
    <script props>
        let color = "orange";
    </script>
    ```
    Coloe is  
    ```
    
    <div style="color: {{color}}">
        <h1>{{message}}</h1>
    </div>
</card>